*{
    transition: 0.5s;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 3000px;
}

.container{
    max-width: 1140px;
    margin: 0 auto 0 auto;
    padding: 0 10px 0 10px;
}

.nav__element{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__links a{
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.08em;
    text-transform: capitalize;
    color: black;
} 

.nav__links{
    display: flex;
    gap: 30px;
}

.nav__links a:hover{
    color: #1665AA;
}

.nav__phone{
    color: #1665AA;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.08em;
    font-weight: bold;
}

.nav__phone:hover{
    transform: scale(95%);   
}

nav{
    padding: 10px 0 10px 0;
    box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.25);
    position: fixed;
    width: 100%;
    background: white;
}

header{
    background-image: url(../img/bg-offer\ 1.png);
    padding: 159px 0 89px 0;
}

.header__info p{
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.125em;
    margin-bottom: 18px;
}

h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    letter-spacing: 0.125em;
    color: #1665AA;
    margin-bottom: 18px;
}

.header__info span{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.125em;
    color: #FFFFFF;
    background: black;
    padding: 10px 21px 10px 21px;
    border-radius: 5px;
    display: inline-block;
}

.header__info{
    width: 50%;
    max-width: 530px;
    text-align: center;
}

form{
    background: #FFFFFF;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
    width: 320px;
    padding: 32px 30px;
}

.header__form h3{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.125em;
    margin-bottom: 10px;
}

.header__form p{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.125em;
    max-width: 140px;
    margin: auto;
    margin-bottom: 29px;
}

.header__form input{
    border-bottom: 1px solid #A3A3A3;
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.125em;
    color: #000000;
    padding: 12px;
    margin-bottom: 13px;
}

.header__form input:focus{
    border-color: black;
}

.header__form input::placeholder{
    color: #A3A3A3;
}

.header__form input:focus::placeholder{
    color: black;
}

.header__element{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header__form button{
    width: 100%;
    padding: 18px 0 18px 0;
    background: #B91B1B;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    margin-top: 28px;
    margin-bottom: 13px;
    border: 1px #B91B1B solid;
}

.header__form span{
    color: #A3A3A3;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.125em;
}

.header__form button:hover{
    background: #FFFFFF;
    color: #B91B1B;
}

.teacher__card{
    background: #E130D0;
    max-width: 499px;
    padding: 30px;
    border-radius: 20px;
    color: white;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);
}

.teacher__card a{
    color: white;
}

.teacher__card h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.125em;
    margin-bottom: 12px;
}

.teacher__card p{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.125em;
    margin-bottom: 12px;
}

.statistika{
    display: flex;
    gap: 43px;
    margin-bottom: 27px;
}

.statistika__item{
    display: flex;
    align-items: center;
    gap: 10px;
}

.statistika__item span{
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    letter-spacing: 0.125em;
}

.statistika__item p{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.125em;
    margin-bottom: 0px;
}

.teacher__card a{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.125em;
}

.teacher__info{
    width: 500px;
}

.teacher__info h3{
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.125em;
    margin-bottom: 18px;
}

.teacher__info p{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.125em;
}

.teacher__elements{
    display: flex;
    align-items: center;
    gap: 61px;
    margin-bottom: 59px;
}

.teacher{
    padding: 89px 0 30px 0;
}

.green_card{
    background: #45CA2F;
    width: 499px;
    height: 285px;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.green_card span{
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    letter-spacing: 0.125em;
    color: #FFFFFF;
    max-width: 230px;
}

.training{
    background: #E6ECF9;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.25);
    padding: 89px 0 89px 0;
}

.training h2{
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.125em;
    color: #000000;
    margin-bottom: 47px;
}
